strict-peer-dependencies=true # allow peer dependencies to be installed
save-prefix="^"  # allow patch updates
link-workspace-packages=false # don't link workspace packages
save-workspace-protocol=rolling # allow workspace packages to be installed